/.StateMachineDescriptionLabelProvider.java._trace
/.StateMachineDescriptionLabelProvider.xtendbin
/.StateMachineLabelProvider.java._trace
/.StateMachineLabelProvider.xtendbin
/StateMachineDescriptionLabelProvider.java
/StateMachineLabelProvider.java
