<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.sdu.dk/mmmi/assa/sm/StateMachine"
			class = "dk.sdu.mmmi.assa.sm.stateMachine.StateMachinePackage"
			genModel = "model/generated/StateMachine.genmodel" />
	</extension>
</plugin>
