/.AuxiliarAutomaton.java._trace
/.Main.java._trace
/.Main.xtendbin
/.PlantUMLGenerator.java._trace
/.PlantUMLGenerator.xtendbin
/.StateMachineGenerator.java._trace
/.StateMachineGenerator.xtendbin
/.UppaalGenerator.java._trace
/.UppaalGenerator.xtendbin
/AuxiliarAutomaton.java
/Main.java
/PlantUMLGenerator.java
/StateMachineGenerator.java
/UppaalGenerator.java
