/.StateMachineRuntimeModule.java._trace
/.StateMachineRuntimeModule.xtendbin
/.StateMachineStandaloneSetup.java._trace
/.StateMachineStandaloneSetup.xtendbin
/StateMachineRuntimeModule.java
/StateMachineStandaloneSetup.java
