/.StateMachineGeneratorTest.java._trace
/.StateMachineParsingTest.java._trace
/.StateMachineParsingTest.xtendbin
/.StateMachinePlantUMLGeneratorTest.java._trace
/.StateMachinePlantUMLGeneratorTest.xtendbin
/.StateMachineUppaalGeneratorTest.java._trace
/.StateMachineUppaalGeneratorTest.xtendbin
/StateMachineParsingTest.java
/StateMachinePlantUMLGeneratorTest.java
/StateMachineUppaalGeneratorTest.java
/.UppaalChannelTest.java._trace
